@import "colors";

.founder {
  width: 100%;
  height: 60vh;
  padding-top: 2rem;
  background-color: $red;

  > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    margin: auto;

    h2 {
      font-size: 2rem;
      color: white;
    }

    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      

      .left-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 2rem;
      

        img {
          border-radius: 100%;
        }

        h3 {
          font-size: 1.3rem;
          padding: 1rem 0 1rem 0;
        }
      }

      .right-box {
        text-align: center;
        margin-left: 2rem;
  
        p {
          letter-spacing: 3px;
          font-size: 0.8rem;
          font-family: cursive;
          line-height: 200%;
        }
      }
    }
  }
}
